<% 
  task ||= Task.new 
  visible ||= ''
%>

<div id="item_wrapper_<%= task.id %>" class='today_item_wrapper' style='<%= visible %>'>
  <div id="item_name_<%= task.id %>" class='item_name'>
    <%= h task.name %>
  </div>
  
  <div class="item_actions_wrapper">
    <%= link_to_remote 'DONE', 
          :url => done_task_path( task ), 
          :html => { :class => 'item_action_link' } %>
    <%= link_to_remote 'TMR IT', 
          :url => tomorrow_it_task_path( task ), 
          :html => { :class => 'item_action_link' } %>
  </div>
</div>