<% 
  chain_tasks ||= []
  date ||= Time.now.to_date
  
  default_chain_task = ( chain_tasks.empty? ) ? nil : chain_tasks.first
  items ||= default_chain_task.nil? ? [] : default_chain_task.load_history_for_month( date )
  
%>

<script type="text/javascript" charset="utf-8">
window.currentChainTaskId = '<%= default_chain_task.nil? ? '' : default_chain_task.id %>';
</script>

<div id='calendar_wrapper'>
  <%= render :partial => 'shared/calendar', :locals => { :items => items } %>  
</div>

<div>
  <% chain_tasks.each do |chain_task| %>
    <style type="text/css" media="screen">
      .current_chain_task_<%= chain_task.id %> { background-color: #<%= chain_task.display_color %> !important; }
      .current_chain_task a { color: white !important; }
      .chain_task_<%= chain_task.id %> 
      { border: 1px solid #<%= chain_task.display_color %>;  }
        .chain_task a { color: #<%= chain_task.display_color %>; }
    </style>
    <div id='chain_task_item_wrapper_<%= chain_task.id %>' 
      style='padding: 5px;'>
      <div class='chain_task chain_task_<%= chain_task.id %> <%= "current_chain_task current_chain_task_#{chain_task.id}" if chain_task == default_chain_task %>' >
        <a href='javascript:void(0);'
          onclick='ChainTask.selectChainTask(this, <%= chain_task.id %>);return false;'>
          <%= h chain_task.name %>  
        </a>
      </div>
    </div>
  <% end %>
</div>