<% 
  chain_tasks ||= []
  date ||= Time.now.to_date
  
  default_chain_task = ( chain_tasks.empty? ) ? nil : chain_tasks.first
  items ||= default_chain_task.nil? ? [] : default_chain_task.load_history_for_month( date )
  
%>

<script type="text/javascript" charset="utf-8">
window.currentChainTaskId = '<%= default_chain_task.id %>';
</script>

<div id='calendar_wrapper'>
  <%= render :partial => 'shared/calendar', :locals => { :items => items } %>  
</div>

<div>
  <% chain_tasks.each do |chain_task| %>
    <div class='chain_task_item_wrapper_<%= chain_task.id %>' 
      style='padding: 5px;'>
      <div style='float: left; border: 1px solid #<%= chain_task.display_color %>; padding: 5px;' >
        <%= h chain_task.name %>  
      </div>
      <br style='clear:both'/>
    </div>
  <% end %>
</div>