<div class='wrapper'>

  <div id="login_form_wrapper" style='float:right; position: relative; width: 295px;'>

    <div style='background-color: #959595; float: right;'>
      <div style='float:right;'>
        <div style=''>
          <a href="javascript:void(0)" onclick="new Ajax.Request('/session', {asynchronous:true, evalScripts:true, parameters:Form.serialize('login_form')}); return false;" id='btnLogin' style='display: block; color: white;padding: 10px;'>login</a>
        </div>
      </div>

      <div style='padding: 10px;float:left; background-color: #efeeef;'>
        <% form_remote_tag :url => { :controller => 'sessions', :action => "create" }, :html => { :id => 'login_form' } do %>
          <ul class='horizontal_list' id="login_form" >
            <li><span class='big_label'>u</span></li>
            <li><%= text_field_tag 'login', nil ,:class => 'login_input' %></li>
            <li><span class='big_label'>p</span></li>
            <li><%= password_field_tag 'password', nil, :class => 'login_input' %></li>
          </ul>
          <%= hidden_field_tag 'remember_me', 1 %>
          <div style='display:none;'><input type='submit'></div>
        <% end %>
      </div>
    </div>
    
    <br style='clear:both'/>
    <div id="forgot_password_wrapper" style='float: right; text-align: right; margin-right: 50px;display:none'>
      <a href="javascript:void(0)" onclick="toggleForgotPasswordForm();" class='small'>forgot password?</a>
      <br/>
      <div id="forgot_password_form_wrapper" style='display:none;' class='popup_wrapper'>
        <% remote_form_for :user, :url => { :controller => 'users', :action => 'forgot_password' } do |form| %>
          <div class='form_label' style='width:50px;'>email</div>
          <div style='margin-left: 60px;'><%= form.text_field :email, :class => 'general_textbox' %>
          </div>
          <div style='margin-left: 60px; text-align: left;'>
            <%= submit_tag 'reset password' %>
          </div>    
        <% end %>
      </div>
    </div>

    
  </div>  

  <div id="main_content_container">
    <div id="main_content_padding" style="padding: 10px 30px;">
      <div >
        <span id="tomorrow_it">tomorrow it</span> 
        <span id="subtag">&nbsp;&nbsp;&nbsp;simple list to start your tomorrow today</span>
      </div>
  
      <div id="add_item_form" style='padding: 50px 0;'>
        <% default_value = "try me free! add a task for tomorrow" %>
        <% remote_form_for :task, :url => tasks_path, :html => { :id => 'new_task_form' },
            :condition => "!($F('task_name').strip().blank()) && $F('task_name').strip() != '#{default_value}' ",
            :success => 'resetTextBoxes();' do |form| %>
          <table border="0" cellspacing="0" cellpadding="0" width="890px">
            <tr>
              <td style='width: 740px; border: 1px solid #959595; background-color: #ffffd7; height: 35px;'>
                  <div style='padding: 5px'>
                    <%= form.text_field :name, :value => default_value, :class => 'front_new_item' %>  
                    <script type="text/javascript" charset="utf-8">
                    ( function() { 
                        textboxToggleValue( 'task_name', '<%= default_value %>' );
                    } )();
                    var resetTextBoxes = function(){ 
                      $('task_name').value = '';
                      $('task_name').focus();
                    }
                    </script>
                  </div>
                </div>
              </td>
              <td style='width: 5px;'></td>
              <td style='background: #ff0071'>
                <a href="#" 
                  onclick="if (!($F('task_name').strip().blank()) && $F('task_name').strip() != '<%= default_value %>' ) { new Ajax.Request('/tasks', {asynchronous:true, evalScripts:true, parameters:Form.serialize('new_task_form')}); }; return false;"
                  style='display: block; color: white; background-color: #ff0071; text-align: center; font-size: 18px;border: 1px solid #ff0071;'>tmr it</a>
              </td>
            </tr>
          </table>
        <% end %>
        <br style='clear:both'/>
      </div>
          

      <div id="introduction_wrapper">
        <div class="one_third">
          <span class='colored' style='font-weight: bold;'>tomorrow it</span> is based on a simple idea:  prepare yourself for tomorrow.        
          It's a quick writing pad for things to do tomorrow, and something better
          <br/>
          <br/>
          <br/>
          <b>available now for tomorrow usage</b>
          <br/>
          <br/>
          <br/>
          developed by <a href="http://alexle.net" target='_blank'>alex le</a>
        </div><!-- .one_third -->
        
        <div class="one_third">
          <div class='big_tag_line'>* simple 'n nimble todos of tmr</div>
          <div class='big_tag_line'>* talks to Google Cal, iCal, Outlook</div>
          <div class='big_tag_line'>* set but don't forget</div>
          <div class='big_tag_line'>* love to be your homepage</div>
          
          <br/>
          <%#= render :partial => 'statistics' %>
          
        </div><!-- .one_third -->

        <div class="one_third" style='float:right;'>
          <div id="signup_form_wrapper" style='border:0px solid red;'>
            <% remote_form_for :user, :url => users_path, :html => { :id =>'signup_form' } do |form| %>
              <table border="0" cellspacing="0px" cellpadding="0px" width="100%">
                <tr>
                  <td align="right"><span class='big_label'>username</span></td>
                  <td align='right'><%= form.text_field :login, :class => 'textbox' %></td>
                </tr>

                <tr>
                  <td align="right"><span class='big_label'>password</span></td>
                  <td align='right'><%= form.password_field :password, :class => 'textbox' %></td>
                </tr>

                <tr>
                  <td align="right"><span class='big_label'>confirmation</span></td>
                  <td align='right'><%= form.password_field :password_confirmation, :class => 'textbox' %></td>
                </tr>
                
                <tr>
                  <td align="right"><span class='big_label'>email</span></td>
                  <td align='right'><%= form.text_field :email, :class => 'textbox' %></td>
                </tr>                

                <tr>
                  <td align="right"></td>
                  <td align='left'>
                    <%= submit_tag 'pain-free signup' %>
                  </td>
                </tr>
              </table>
            <% end %>
          </div>
        </div><!-- .one_third -->
        <br style='clear:both'/>
      </div>
      <br style='clear:both'/>
    </div><!-- #main_content_padding -->
  </div><!-- #main_content_container -->
</div><!-- .wrapper-->

<div id="tasks_wrapper" style='<%= "display: none" if @tasks.empty? %>' >
  <%= render :partial => 'tasks' %>
</div><!-- #task_wrapper -->
