<div id="main_content_padding" style='padding: 50px 30px;'>

  <div class='page_title'>
    <div style='float:left'>
      update profile
    </div>
    
    <div style='float:right; font-size: 14px;' >
      <a href="/" class='colored'>go back</a>
    </div>
    <div style='clear:both'></div>
  </div>


  <% form_for @user, :url => user_path(@user), :html => { :id => 'update_form' } do |form|  %>
    <div class='form_label'>
      email  
    </div> 
    <div class='form_field_wrapper'>
      <%= form.text_field :email, :class => 'textbox' %>
      <%= error_message_on :user, :email %>
    </div> 

    <br style='clear:both'/>
    <div class='form_label'>
      password
     <br/><span class='small'>(leave blank to keep current password)</span>      
    </div> 
    <div class='form_field_wrapper'>
      <%= form.password_field :password, :class => 'textbox' %>
      <%= error_message_on :user, :password %>
    </div>     
    
    <br style='clear:both'/>
    <div class='form_label'>
      password confirmation
    </div> 
    <div class='form_field_wrapper'>
      <%= form.password_field :password_confirmation, :class => 'textbox' %>
      <%= error_message_on :user, :password_confirmation %>
    </div>        
    
    <div class='form_field_wrapper'>
      <%= submit_tag 'Update'%>
    </div>
  <% end %>
  
  

  <div class='page_title' style='padding-top: 30px;'>
    <%= image_tag 'calday.gif' %>&nbsp;&nbsp;iCal sharing
  </div>

  <div>
    The iCal URL will let you synchronize your <span class='colored'><b>tomorrowit.com</b></span> account with Google calendar, iCal, or  Microsoft Outlook.
    <br/>
    <br/>
    Don't share this URL with anyone.  It's yours.
    <br/>
    <br/>
    <div id='ical_url'>
      <a href="<%= user_unique_ical_url %>" target='_blank'>
        <%= user_unique_ical_url %>
      </a>
    </div>
    
    <br/>
    <br/>
    Update the URL will invalidate the above link.  Remember to update your calendar clients as well.
    <div id="name">
      <%= link_to_remote 'Generate New URL', :url => new_ical_url_users_path, 
            :confirm => 'are you sure?',
            :html => { :class => 'big_link_button' } %>
    </div>
  </div>  


  <br/>
  <br/>


  <div class='page_title' style='padding-top: 30px;'>
    don't break the chain
  </div>

  <div>
    <label for="toggleEnableChainTasks">
      <input type='checkbox' id='toggleEnableChainTasks' <%= 'checked' if current_user.is_chain_enabled %>> Enable Chain </label>
  </div>

  <div id="chains_wrapper" style=' <%= 'display:none' unless current_user.is_chain_enabled %>' >
    
    <% @chain_tasks.each do |chain_task| %>
      <%= render :partial => 'chain_tasks/item', :locals => { :item => chain_task } %>
    
    <% end %>
    
    <div id="new_chain_task_form_wrapper">
      <% remote_form_for :chain_task, :url => chain_tasks_path do |form| %>
        <div class='form_label'>
          new goal:
        </div> 
        <div class='' style='width: 150px;'>
          <%= form.text_field :name, :class => 'textbox' %>
        </div>
        
        <div class='form_field_wrapper' style='margin-left: 150px;'>
          <%= submit_tag 'Create' %>
        </div>

      <% end %>
    </div>
    
    
  </div>

  <div>
    Don't break the chain is based on a motivation method that Comedian Jerry Seinfeld used to achieve his many successes.  Since the lack of motivation is the biggest hurdles any entreprenuer needs to overcome, don't break the chain becomes an important and useful tool to keep one stay on track and focused.
    <br/>
    <br/>
    Pick a goal, mark the days on the calendar as you are working towards your goal - everyday.  Don't break the chain.
    <br/>
    <br/>
    Personally, after I found out about the "Don't Break The Chain" technique, I committed myself to do at least one commit to SVN, no matter what.  TomorrowIt is the first result of the chain.
    <br/>
    <br/>
    The Don't Break The Chain functionality is inspired from the similarly named website, <a href='http://dontbreakthechain.com'>http://dontbreakthechain.com</a>
  </div>  
  
</div>