<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	
	<%= stylesheet_link_tag "reset-fonts-grids.css", :media => "all" -%>
  <%= stylesheet_link_tag "layout", :media => "all" -%>
  <%= stylesheet_link_tag "style", :media => "all" -%>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" ></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js?load=effects"></script>  
  <%= javascript_include_tag 'application' %>
  
  <!--[if lt IE 7]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
  <![endif]-->  
  <!--[if IE]>
    <script type="text/javascript" charset="utf-8">
      var console = { log: function(msg) {;}};
      try {document.execCommand("BackgroundImageCache", false, true);} catch(e) {};
     </script> 
  <![endif]-->
  
</head>

<body id="body_container">
	<div id="page_container">
		<div id="center_container">
			<div id="center_padding">
				
				<div id="content_container">
					<!-- Content -->
					<div id="content_padding">

		        <% if flash[:notice] -%>
		          <div id="notice" style="background-color: yellow; padding: 10px;"><%= flash[:notice] -%></div>
		        <% end -%>

		        <% if flash[:error] -%>
		          <div id="error" style="background-color: red; padding: 10px; "><%= flash[:error] -%></div>
		        <% end -%>

          
        		<div id="top_menu_wrapper" style='position:relative'>
        		  <div id="top_menu">
          	    <a href="/" class='item_action_link small' style='margin-left: 30px;'>home</a>        		    
          	    <a href="javascript:void(0)" class='item_action_link small' style='margin-left: 30px;' onclick='$("ical_link_wrapper").toggle();return false;'>iCal</a>
          	    <a href="/users/edit/<%= current_user.id %>" class='item_action_link small' style='margin-left: 30px;'>your account</a>
          	    <a href="/logout" class='item_action_link small' style='margin-left: 30px;'>log out</a>

        		  </div>
        		  <div id="ical_link_wrapper" class='popup_wrapper' style='display:none; width: 380px; text-align: left; position: absolute;right: 10px; font-size: 10px;'>
        		    <%= image_tag 'calday.gif', :align => 'absmiddle' %>
        		    <%= link_to user_unique_ical_url, user_unique_ical_url, :target => '_blank' %>
        		  </div>
        		  
        		  
        		</div>

            <div style='padding: 10px 30px 0px 30px;;'>
              <a href="/"><span id="tomorrow_it">tomorrow it</span></a>
              <span id="subtag">&nbsp;&nbsp;&nbsp;simple list to start your tomorrow today</span>
            </div>

				    <%= yield %>
	
	          
		        <div style='clear:both'/>
					</div> <!-- content_padding -->
					<div style='clear:both'/>
				</div><!-- #content_container -->
				
				<!-- Footer -->
				<%#= render :partial => 'shared/footer' -%>

			</div><!-- #center_padding -->
		</div><!-- #center_container -->
  
    <%= render :partial => 'shared/footer.html.erb' %>
	</div><!-- #page_container -->
  <script type="text/javascript">window._token = '<%= form_authenticity_token %>';</script>

</body>
</html>